{% if field.use_fieldset %}
  <fieldset{% if field.aria_describedby %} aria-describedby="{{ field.aria_describedby }}"{% endif %}>
  {% if field.label %}{{ field.legend_tag }}{% endif %}
{% else %}
  {% if field.label %}{{ field.label_tag }}{% endif %}
{% endif %}
{% if field.help_text %}<div class="helptext"{% if field.auto_id %} id="{{ field.auto_id }}_helptext"{% endif %}>{{ field.help_text|safe }}</div>{% endif %}
{{ field.errors }}
{% if field.field.is_readonly %} 
  <div>{{ field.field.content|linebreaksbr }}</div> 
{% else %} 
{{ field }}
{% if field.field.can_add %}<span class="add-new-btn" data-add-url="{{field.field.add_url}}" data-to-id={{field.auto_id}}>New {{field.name}}</span>{% endif %} 
{% endif %}
{% if field.use_fieldset %}</fieldset>{% endif %}