{% extends 'core/base.html' %}

{% load static %}

{% block extrastyle %}


<link rel="stylesheet" href="{% static 'food/css/food.css' %}">

<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
{{ ingredient_formset.media }}
<script type="text/javascript" src={% static "food/js/food.js" %}></script>

{% endblock extrastyle %}

{% block content %}

{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div{% if message.tags %} class="message-{{ message.tags }}"{% endif %}>{{ message }}</div>
    {% endfor %}
</div>
{% endif %}

<h1>Add New Recipe</h1>

<form action="" method="post">
    {% csrf_token %}
    {{ recipe_form }}
    <div>Ingredients</div>
    {{ ingredient_formset.management_form }}
    {% for form in ingredient_formset %}
        <div id="ingredient-form-{{forloop.counter0}}" class="ingredient-form">{{ form }}</div>
    {% endfor %}
    <div id="ingredient-form-empty" class="ingredient-form">{{ingredient_formset.empty_form }}</div>

    <div><span id="add-ingredient-btn">+</span></div>
    <input type="submit" value="Submit">
</form>

{% endblock %}