{% extends 'core/base.html' %}

{% load static %}

{% block extrastyle %}


<link rel="stylesheet" href="{% static 'food/css/add_change_recipe.css' %}">

<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
{{ ingredient_formset.media }}
<script type="text/javascript" src={% static "food/js/add_change_recipe.js" %}></script>

{% endblock extrastyle %}

{% block content %}

{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div{% if message.tags %} class="message-{{ message.tags }}"{% endif %}>{{ message }}</div>
    {% endfor %}
</div>
{% endif %}
<a href=" {% url "recipe_list" %} ">Show all recipes</a>
<h1>{% if add %}Add{% else %}Change{% endif %} Recipe {% if not add and not editable %}<span><a href="?e=1" id="edit-icon">&#9998;</a></span>{% endif %}</h1>

<form action="" method="post">
    {% csrf_token %}
    
    {{ recipe_form }}

    <div>Ingredients</div>
    {{ ingredient_formset.management_form }}
    {{ ingredient_formset.non_form_errors }}
    {% for form in ingredient_formset %}
        <div id="ingredient-form-{{forloop.counter0}}" class="ingredient-form">{{ form }}</div>
    {% endfor %}
    <div id="ingredient-form-empty" class="ingredient-form">{{ingredient_formset.empty_form }}</div>

    {% if editable %}
    <div><span id="add-ingredient-btn">+</span></div>
    <input type="submit" value="Save" class="submit-line-btn" >
    <a role="button" class="submit-line-btn" href="{% url "change_recipe" recipe_id=recipe_form.instance.id %}">Cancel</a>
    {% endif %}

</form>

{% endblock %}