{% extends 'core/base.html' %}

{% load static %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'food/css/add_change.css' %}">

<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>

{% endblock extrastyle %}

{% block content %}

{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div{% if message.tags %} class="message-{{ message.tags }}"{% endif %}>{{ message }}</div>
    {% endfor %}
</div>
{% endif %}

<a href="{% url add_url %}">Add new</a>
<h1>{{title}}</h1>
<ul>
    {% for object in objects %}
    <li><a href="{% url change_url object.pk%}">{{ object }}</a></li>
    {% endfor %}
</ul>


{% endblock %}