body {
    font-family: Arial, Helvetica, sans-serif;
}

#edit-icon:hover {
    cursor: pointer;
}

.display-none {
    display: none;
}

.display-disabled {
    color: grey
}
.display-disabled:hover {
    cursor: not-allowed !important
}