#ingredient-form-empty {
    display: none
}

#add-ingredient-btn:not(.btn-disabled):hover {
    cursor: pointer;
    color: green;
}

#add-ingredient-btn.btn-disabled {
    color: grey;
    cursor: default;
}

#edit-icon, #view-icon {
    text-decoration: none;
}

.update-portions-icon {
    margin: 0 5px;
}
.update-portions-icon:hover {
    cursor: pointer;
}